<header id="mainHead">
    <div class="container">
        <div class="row">
            <h1>Welcome, noble educator.</h1>
            <h6>And thank you for everything you do.</h6>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <form action="">
            <div class="col-md-12"></div>
        </form>
    </div>
</div>