<header id="mainHead">
    <div class="container">
        <div class="row">
            <h1>Welcome, social animal.</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>I come to you:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="indexButton" onclick="window.location.href = '/educator-login';">as a noble educator</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="indexButton" onclick="window.location.href = '/student-login';">as a humble student</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="indexButton" onclick="window.location.href = '/guest';">as a curious guest</button>
        </div>
    </div>
</div>