<head>
    <title>ST Homepage</title>
</head>

<header id="mainHead">
    <div class="container">
        <div class="row">
            <h1>SPEDtrack Homepage</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Select your role:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="indexButton" onclick="window.location.href = '/parent-login';">Parent</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="indexButton" onclick="window.location.href = '/teacher-login';">Regular Education Teacher</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="indexButton" onclick="window.location.href = '/SPED-login';">Special Education Teacher</button>
        </div>
    </div>
        <div class="row">
        <div class="col-md-12">
            <button class="indexButton" onclick="window.location.href = '/register-index';">New User</button>
        </div>
    </div>
</div>