<head>
    <title>SPED Dashboard</title>
</head>

<header id="mainHead">
    <div class="container">
        <div class="row">
            <h1>Welcome back!</h1>
        </div>
    </div>
</header>

<br>
<br>
    
<div class="container">
    <form>
        <div class="form-group">
            <label for="studentSelect">Select student:</label>
            <select class="form-control" id="studentSelect">
                <option>Student 0</option>
                <option>Student 1</option>
                <option>Student 2</option>
                <option>Student 3</option>
                <option>Student 4</option>
            </select>
        </div>
    </form>
    <div class="row">
        <div class="col-md-3">
                <button class="indexButton" onclick="window.location.href = ;">Confirm</button>
            </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
                <button class="indexButton" onclick="window.location.href = '/new-student';">Add Student</button>
            </div>
    </div>
</div>
