<head>
    <title>ST Teacher Login</title>
</head>

<header id="mainHead">
    <div class="container">
        <div class="row">
            <h1>SPEDtrack Teacher Login</h1>
        </div>
        <div class="row">
            <h6>Thanks for everything you do.</h6>
        </div>
    </div>
</header>

<br>
<br>

<div class="container">
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" onclick="window.location.href = '/educator-dashboard';">Log in</button>
</form>
</div>